node-red-flows-wordclock.json
[
    {
        "id": "8e8ef3d5174fe14f",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49a5b38cd69eaf97",
        "type": "tab",
        "label": "Execution flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a70220f36865d0c9",
        "type": "tab",
        "label": "WIFI Management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5946ab9f5ba7434",
        "type": "tab",
        "label": "Alexa Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cca685967a3b05e",
        "type": "tab",
        "label": "Experimental",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afaefa17980872eb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "881f81eaac918727",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "907bbe60.b555f",
        "type": "ui_tab",
        "name": "Wifi",
        "icon": "wifi",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfddbc73e4437724",
        "type": "ui_group",
        "name": "Local Settings",
        "tab": "907bbe60.b555f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f112c67bb09a272d",
        "type": "ui_group",
        "name": "Color Picker",
        "tab": "881f81eaac918727",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61cb2482eb29561d",
        "type": "ui_group",
        "name": "ON/OFF",
        "tab": "881f81eaac918727",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d0f060d.dee7e8",
        "type": "ui_group",
        "name": "Update",
        "tab": "907bbe60.b555f",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1e7431b.229d5",
        "type": "ui_group",
        "name": "Current wifi",
        "tab": "907bbe60.b555f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "164170ab9447d34f",
        "type": "ui_group",
        "name": "Status",
        "tab": "907bbe60.b555f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c205e26f.6865a",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "110f893b.a0f1d7",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8924e22f.e375e",
        "type": "ui_group",
        "name": "Teste",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "53b1b254d42f7c73",
        "type": "ui_group",
        "name": "Settings",
        "tab": "881f81eaac918727",
        "order": 3,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "281cc9b9ceb9edc4",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "881f81eaac918727",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "c93e4ec5cd117f31",
        "type": "ui_tab",
        "name": "Rules",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c9bd400448c4b9cb",
        "type": "ui_group",
        "name": "Rule 1",
        "tab": "c93e4ec5cd117f31",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90f5204108b7efb1",
        "type": "ui_group",
        "name": "Rules activation",
        "tab": "c93e4ec5cd117f31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e4549ad1f0b8058",
        "type": "ui_group",
        "name": "Manuals",
        "tab": "907bbe60.b555f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4833dda8c0523c35",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3db195648e789fae",
        "type": "ui_slider",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "53b1b254d42f7c73",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "6f6c50d024b1bcdd"
            ]
        ]
    },
    {
        "id": "839479f18594896f",
        "type": "ui_colour_picker",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "",
        "group": "f112c67bb09a272d",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 910,
        "y": 60,
        "wires": [
            [
                "2da745fb0e420a20"
            ]
        ]
    },
    {
        "id": "6f6c50d024b1bcdd",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led.brightness",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "9a823b7a5998551d"
            ]
        ]
    },
    {
        "id": "2da745fb0e420a20",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led.color.red",
                "pt": "global",
                "to": "payload.r",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "led.color.blue",
                "pt": "global",
                "to": "payload.b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "led.color.green",
                "pt": "global",
                "to": "payload.g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "3a21398ecc07a28b"
            ]
        ]
    },
    {
        "id": "32b4d244679e7003",
        "type": "debug",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "0cab92e989ee80be",
        "type": "ui_dropdown",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Preset colors",
        "tooltip": "",
        "place": "Select color",
        "group": "53b1b254d42f7c73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "White",
                "value": "255,255,255",
                "type": "str"
            },
            {
                "label": "Red",
                "value": "255,0,0",
                "type": "str"
            },
            {
                "label": "Green",
                "value": "0,255,0",
                "type": "str"
            },
            {
                "label": "Blue",
                "value": "0,0,255",
                "type": "str"
            },
            {
                "label": "Orange",
                "value": "255,165,0",
                "type": "str"
            },
            {
                "label": "Yellow",
                "value": "255,255,0",
                "type": "str"
            },
            {
                "label": "Magenta",
                "value": "255,0,255",
                "type": "str"
            },
            {
                "label": "Purple",
                "value": "128,0,128",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "700252081ff28bcf"
            ]
        ]
    },
    {
        "id": "700252081ff28bcf",
        "type": "function",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "func": "var str = msg.payload;\nvar values = str.split(',');\nmsg.payload = {\"r\":parseInt(values[0]),\"g\":parseInt(values[1]),\"b\":parseInt(values[2])}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 120,
        "wires": [
            [
                "2da745fb0e420a20"
            ]
        ]
    },
    {
        "id": "5f5d222e2204309e",
        "type": "ui_text",
        "z": "8e8ef3d5174fe14f",
        "group": "53b1b254d42f7c73",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 60,
        "wires": []
    },
    {
        "id": "9a823b7a5998551d",
        "type": "link out",
        "z": "8e8ef3d5174fe14f",
        "name": "led update",
        "mode": "link",
        "links": [
            "9e9392e174404df3"
        ],
        "x": 1365,
        "y": 240,
        "wires": []
    },
    {
        "id": "611fcfba31c64ef8",
        "type": "link in",
        "z": "8e8ef3d5174fe14f",
        "name": "brighnessInput",
        "links": [
            "6afbed6874c83a7d",
            "af3145eff3460291"
        ],
        "x": 205,
        "y": 180,
        "wires": [
            [
                "960cd04cac5f31d9"
            ]
        ]
    },
    {
        "id": "75a844e9f2b68a2a",
        "type": "ui_switch",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "61cb2482eb29561d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "3b48e7dade7c3e09"
            ]
        ]
    },
    {
        "id": "3b48e7dade7c3e09",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led.state",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "9fad21d16172f3f0"
            ]
        ]
    },
    {
        "id": "a01a47ea7c00d94b",
        "type": "inject",
        "z": "8e8ef3d5174fe14f",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "ON",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "75a844e9f2b68a2a",
                "4287d842f6fa4383",
                "416aafec783e043d"
            ]
        ]
    },
    {
        "id": "9fad21d16172f3f0",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Home_Color_Picker\",\"Home_Settings\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Home_Color_Picker\",\"Home_Settings\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "5a66c072cae8bb8b"
            ]
        ]
    },
    {
        "id": "5a66c072cae8bb8b",
        "type": "ui_ui_control",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "events": "all",
        "x": 1120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "416aafec783e043d",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255,255,255",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "0cab92e989ee80be"
            ]
        ]
    },
    {
        "id": "ade0db0f18e6f51a",
        "type": "link in",
        "z": "8e8ef3d5174fe14f",
        "name": "on/off_switch",
        "links": [
            "4d0e5d595547de4b",
            "6afbed6874c83a7d"
        ],
        "x": 95,
        "y": 380,
        "wires": [
            [
                "8c5d29b44156b117"
            ]
        ]
    },
    {
        "id": "960cd04cac5f31d9",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "led.brightness",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "3db195648e789fae"
            ]
        ]
    },
    {
        "id": "f6d65a307eb43191",
        "type": "debug",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "e5baf61c536a1745",
        "type": "rpi-gpio in",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "pin": "23",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "d6c8e489318f7738"
            ]
        ]
    },
    {
        "id": "66ec8aaaf6ce50ea",
        "type": "rpi-gpio in",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "pin": "24",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "8d8a0637910e2bc3"
            ]
        ]
    },
    {
        "id": "922960ab852f3307",
        "type": "switch",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "property": "led.state",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "806d6495fe56f639"
            ],
            [
                "b50673857bd25425"
            ]
        ]
    },
    {
        "id": "b50673857bd25425",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led.state",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "4d0e5d595547de4b"
            ]
        ]
    },
    {
        "id": "806d6495fe56f639",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led.state",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "4d0e5d595547de4b"
            ]
        ]
    },
    {
        "id": "d6c8e489318f7738",
        "type": "switch",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "922960ab852f3307"
            ]
        ]
    },
    {
        "id": "4d0e5d595547de4b",
        "type": "link out",
        "z": "8e8ef3d5174fe14f",
        "name": "touch1_out",
        "mode": "link",
        "links": [
            "ade0db0f18e6f51a"
        ],
        "x": 825,
        "y": 480,
        "wires": []
    },
    {
        "id": "8d8a0637910e2bc3",
        "type": "function",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "func": "var brightness = global.get(\"led.brightness\");\n\nif(msg.payload == 1){\n    global.set(\"loop\",true);\n    msg.payload = 2;\n    return msg;\n} else if (msg.payload == 2){\n    loop = global.get(\"loop\");\n    if (loop){\n        brightness = brightness-5;\n        if (brightness<=5){\n            brightness = 100;\n        }\n    global.set(\"led.brightness\",brightness)\n    return msg;\n    }\n} else if (msg.payload == 0){\n    global.set(\"loop\",false);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "2b865dc77e9cc437",
                "f6d65a307eb43191",
                "af3145eff3460291"
            ]
        ]
    },
    {
        "id": "2b865dc77e9cc437",
        "type": "delay",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "8d8a0637910e2bc3"
            ]
        ]
    },
    {
        "id": "af3145eff3460291",
        "type": "link out",
        "z": "8e8ef3d5174fe14f",
        "name": "dimm_output",
        "mode": "link",
        "links": [
            "611fcfba31c64ef8",
            "9e9392e174404df3"
        ],
        "x": 695,
        "y": 580,
        "wires": []
    },
    {
        "id": "9ad722288ab9bdd5",
        "type": "ui_slider",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Off Time Start Hour",
        "tooltip": "",
        "group": "c9bd400448c4b9cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "5f603031a917784f"
            ]
        ]
    },
    {
        "id": "ca9bd2abe1fc88c5",
        "type": "ui_slider",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Off Time Stop Hour",
        "tooltip": "",
        "group": "c9bd400448c4b9cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "stopTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "709e5793c776d520"
            ]
        ]
    },
    {
        "id": "a5ea2a61fd262320",
        "type": "ui_dropdown",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Rule 1",
        "tooltip": "",
        "place": "Turn Off",
        "group": "c9bd400448c4b9cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "a10545c1482f188f"
            ]
        ]
    },
    {
        "id": "1f3249ace0ed62a8",
        "type": "ui_text",
        "z": "8e8ef3d5174fe14f",
        "group": "c9bd400448c4b9cb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "fb7056089f10b9b2",
        "type": "function",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "func": "var starttime = msg.payload[0];\nvar starttimeHours = Math.trunc(starttime);\nvar starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nvar stoptime = msg.payload[1];\nvar stoptimeHours = Math.trunc(stoptime);\nvar stoptimeMin = stoptime - parseInt(stoptimeHours);\nstoptimeMin = stoptimeMin*60;\nvar rule = msg.payload[2];\nif (starttimeHours>=stoptimeHours){\n    var days = \" on the next day \";\n} else {\n    var days = \" \";\n}\nglobal.set(\"rule1.start.hour\",starttimeHours);\nglobal.set(\"rule1.start.min\",starttimeMin);\nglobal.set(\"rule1.stop.hour\",stoptimeHours);\nglobal.set(\"rule1.stop.hour\",stoptimeMin);\nglobal.set(\"rule1.rule\",rule);\nmsg.payload = \"From \"+ starttimeHours+\":\"+starttimeMin+\" to \"+stoptimeHours+\":\"+stoptimeMin+days+rule;\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 860,
        "wires": [
            [
                "1f3249ace0ed62a8",
                "06777fdda3821dfd"
            ]
        ]
    },
    {
        "id": "df6285cf2a828ae2",
        "type": "join",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 860,
        "wires": [
            [
                "fb7056089f10b9b2"
            ]
        ]
    },
    {
        "id": "06777fdda3821dfd",
        "type": "debug",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 900,
        "wires": []
    },
    {
        "id": "5f603031a917784f",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "df6285cf2a828ae2"
            ]
        ]
    },
    {
        "id": "709e5793c776d520",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "df6285cf2a828ae2"
            ]
        ]
    },
    {
        "id": "a10545c1482f188f",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "df6285cf2a828ae2"
            ]
        ]
    },
    {
        "id": "9d8ddc925c6e864e",
        "type": "ui_switch",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "label": "Rule 1",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 760,
        "wires": [
            [
                "18004d0c0fccb0a9"
            ]
        ]
    },
    {
        "id": "18004d0c0fccb0a9",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rule1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "f5615e66cb0460da"
            ]
        ]
    },
    {
        "id": "fec8a98b59d2ba3c",
        "type": "ui_ui_control",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f5615e66cb0460da",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_1\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 760,
        "wires": [
            [
                "fec8a98b59d2ba3c"
            ]
        ]
    },
    {
        "id": "8f3c25bc5efde347",
        "type": "inject",
        "z": "8e8ef3d5174fe14f",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "9d8ddc925c6e864e",
                "fb9d5a2ab9e06333"
            ]
        ]
    },
    {
        "id": "4287d842f6fa4383",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "3db195648e789fae"
            ]
        ]
    },
    {
        "id": "f9d95b4205cf5b37",
        "type": "ui_text",
        "z": "8e8ef3d5174fe14f",
        "group": "3e4549ad1f0b8058",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "How to",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "fb9d5a2ab9e06333",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "In order to use the clock online and with alexa please choose the wifi on the right, enter your password and hit connect. The clock will then restart (will take up to a few minutes). After that you can discover the clock on alexa as \"uhr\" or control by entering the same wifi and opening wordclock.local:1880/ui",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "f9d95b4205cf5b37"
            ]
        ]
    },
    {
        "id": "8c5d29b44156b117",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "led.state",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "75a844e9f2b68a2a"
            ]
        ]
    },
    {
        "id": "3a21398ecc07a28b",
        "type": "function",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "func": "var red = msg.payload.r;\nvar green = msg.payload.g;\nvar blue = msg.payload.b;\nred = parseFloat(red/2.55).toFixed(1);\ngreen = parseFloat(green/2.55).toFixed(1);\nblue = parseFloat(blue/2.55).toFixed(1);\nmsg.payload =\"Red: \"+red+\"\\r\"+\" Green: \" +green+\"\\n\"+\" Blue: \"+blue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 60,
        "wires": [
            [
                "5f5d222e2204309e"
            ]
        ]
    },
    {
        "id": "c379171cbbd32634",
        "type": "link in",
        "z": "8e8ef3d5174fe14f",
        "name": "colour picker update",
        "links": [
            "6afbed6874c83a7d"
        ],
        "x": 355,
        "y": 60,
        "wires": [
            [
                "7654d3be746fe55d"
            ]
        ]
    },
    {
        "id": "7654d3be746fe55d",
        "type": "change",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.r",
                "pt": "msg",
                "to": "led.color.red",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.b",
                "pt": "msg",
                "to": "led.color.blue",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.g",
                "pt": "msg",
                "to": "led.color.green",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "d891a26d5b862624"
            ]
        ]
    },
    {
        "id": "2bf82859a82996a0",
        "type": "debug",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 20,
        "wires": []
    },
    {
        "id": "d891a26d5b862624",
        "type": "rbe",
        "z": "8e8ef3d5174fe14f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "839479f18594896f",
                "2bf82859a82996a0"
            ]
        ]
    },
    {
        "id": "b25a6bfa04d7a1cd",
        "type": "debug",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "5c24b4c1bcb23269",
        "type": "inject",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "919b5487618c190b"
            ]
        ]
    },
    {
        "id": "9e9392e174404df3",
        "type": "link in",
        "z": "49a5b38cd69eaf97",
        "name": "clock refresh",
        "links": [
            "9a823b7a5998551d",
            "70c8408bfb3fb860",
            "af3145eff3460291"
        ],
        "x": 135,
        "y": 240,
        "wires": [
            [
                "919b5487618c190b"
            ]
        ]
    },
    {
        "id": "919b5487618c190b",
        "type": "function",
        "z": "49a5b38cd69eaf97",
        "name": "get sys argv",
        "func": "var now = new Date();\nvar brightness = global.get(\"led.brightness\");\nbrightness = (brightness*255)/100;\nvar red = global.get(\"led.color.red\");\nvar green = global.get(\"led.color.green\");\nvar blue = global.get(\"led.color.blue\");\nvar white = 0;\nvar onOff = global.get(\"led.state\");\nif (onOff == false){\n    red = 0;\n    green = 0;\n    blue = 0;\n    white = 0;\n}\nif (red == green) {\n    if (red == blue){\n    white = red;\n    red = 0;\n    green = 0;\n    blue = 0;\n    }\n}\nif (red===undefined){\n    red = 0;\n}\nif (blue===undefined){\n    blue = 0;\n}\nif (green===undefined){\n    green = 0;\n}\nif (white === undefined){\n    white = 0;\n}\nmsg = { payload: now.getHours()+\" \"+now.getMinutes()+\" \"+brightness+\" \"+red+\" \"+green+\" \"+blue+\" \"+white };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "837731ba793369ee"
            ]
        ]
    },
    {
        "id": "837731ba793369ee",
        "type": "rbe",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "b25a6bfa04d7a1cd",
                "11e44372043f8a7e",
                "6afbed6874c83a7d"
            ]
        ]
    },
    {
        "id": "11e44372043f8a7e",
        "type": "exec",
        "z": "49a5b38cd69eaf97",
        "command": "sudo python ~/test.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 260,
        "wires": [
            [
                "f39838e8531bcd88"
            ],
            [
                "f39838e8531bcd88"
            ],
            [
                "f39838e8531bcd88"
            ]
        ]
    },
    {
        "id": "f39838e8531bcd88",
        "type": "debug",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "c32ef364aacfbc37",
        "type": "exec",
        "z": "49a5b38cd69eaf97",
        "command": "pkill -9 -f test.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 760,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c9f9669d8c0a26c7",
        "type": "exec",
        "z": "49a5b38cd69eaf97",
        "command": "sudo python ~/test2.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 340,
        "wires": [
            [],
            [],
            [
                "f39838e8531bcd88"
            ]
        ]
    },
    {
        "id": "051730451056e6b8",
        "type": "inject",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "16 12 255 255 0 0 0",
        "payloadType": "str",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "c9f9669d8c0a26c7"
            ]
        ]
    },
    {
        "id": "ef8c4bb2a990f3bc",
        "type": "inject",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "c32ef364aacfbc37"
            ]
        ]
    },
    {
        "id": "54b98c022b920a9f",
        "type": "exec",
        "z": "49a5b38cd69eaf97",
        "command": "pkill -9 -f test2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "604b8f8a96cbea05",
        "type": "inject",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 500,
        "wires": [
            [
                "54b98c022b920a9f"
            ]
        ]
    },
    {
        "id": "12cfd2979f47be38",
        "type": "inject",
        "z": "49a5b38cd69eaf97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23 42 255 255 0 0 0",
        "payloadType": "str",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "11e44372043f8a7e"
            ]
        ]
    },
    {
        "id": "75b67bb015a97450",
        "type": "function",
        "z": "49a5b38cd69eaf97",
        "name": "check rules",
        "func": "//check whether rule was already activated or stopped\nvar now = new Date();\nvar starttimeHours = global.get(\"rule1.start.hour\");\nvar startimeMin = global.get(\"rule1.start.min\");\nvar stoptimeHours = global.get(\"rule1.stop.hour\");\nvar stoptimeMin = global.get(\"rule1.stop.min\");\nvar brightness = global.get(\"led.brightness\");\nvar red = global.get(\"led.color.red\");\nvar green = global.get(\"led.color.green\");\nvar blue = global.get(\"led.color.blue\");\nvar rule1 = global.get(\"rule1\");\n\nif(rule1){\n    if(now.getHours() == starttimeHours){\n        if(now.getMinutes() == starttimeMin){\n            global.set(\"rule1.quicksave[0]\",brightness);\n            global.set(\"rule1.quicksave[1]\",red);\n            global.set(\"rule1.quicksave[2]\",green);\n            global.set(\"rule1.quicksave[3]\",blue);\n            var rule = global.get(\"rule1.rule\");\n            switch (rule){\n                case \"dimm 50%\":\n                    global.set(\"led.brightness\",brightness*0.5);\n                break;\n                case \"dimm 25%\":\n                    global.set(\"led.brightness\",brightness*0.25);\n                break;\n                case \"turn off\":\n                    global.set(\"led.state\",false);\n                break;\n                case \"turn red\":\n                    global.set(\"led.color.red\",255);\n                    global.set(\"led.color.green\",0);\n                    global.set(\"led.color.blue\",0);\n                break;\n            }\n            \n        }\n    }\n    if(now.getHours() == stoptimeHours){\n        if(now.getMinutes() == stoptimeMin){\n            brightness = global.get(rule1.quicksave[0]);\n            red = global.get(\"rule1.quicksave[1]\");\n            green = global.get(\"rule1.quicksave[2]\");\n            blue = global.get(\"rule1.quicksave[3]\");\n            global.set(\"led.brightness\",brightness);\n            global.set(\"led.color.red\",red);\n            global.set(\"led.color.green\",green);\n            global.set(\"led.color.blue\",blue);\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6afbed6874c83a7d",
        "type": "link out",
        "z": "49a5b38cd69eaf97",
        "name": "led output",
        "mode": "link",
        "links": [
            "611fcfba31c64ef8",
            "ade0db0f18e6f51a",
            "c379171cbbd32634"
        ],
        "x": 685,
        "y": 180,
        "wires": []
    },
    {
        "id": "edf1335d9b56ddc2",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "scan",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "7ce2d5ac4d32a3ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ce2d5ac4d32a3ca",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "parseOptions",
        "func": "var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 67,
        "wires": [
            [
                "effba4653b739c17"
            ]
        ]
    },
    {
        "id": "3e997d2e604414f9",
        "type": "inject",
        "z": "a70220f36865d0c9",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 221,
        "wires": [
            [
                "edf1335d9b56ddc2",
                "14bfc1c1c9d850ae",
                "d99cad180e8008cc"
            ]
        ]
    },
    {
        "id": "7dfcc71fed86bbb4",
        "type": "switch",
        "z": "a70220f36865d0c9",
        "name": "ifWifi",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Wifi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 271,
        "y": 80,
        "wires": [
            [
                "edf1335d9b56ddc2",
                "14bfc1c1c9d850ae",
                "d99cad180e8008cc"
            ]
        ]
    },
    {
        "id": "14bfc1c1c9d850ae",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "ifconfig wlan0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "getInfo",
        "x": 430,
        "y": 181,
        "wires": [
            [
                "705c18506cf39271"
            ],
            [],
            []
        ]
    },
    {
        "id": "705c18506cf39271",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "parseInfo",
        "func": "var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 168,
        "wires": [
            [
                "9f74da34b84addbd"
            ]
        ]
    },
    {
        "id": "9f74da34b84addbd",
        "type": "switch",
        "z": "a70220f36865d0c9",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ip",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mask",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "broadcast",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 181,
        "wires": [
            [
                "8517552a561dbeb7"
            ],
            [
                "a9a54bebbd9f819b"
            ],
            [
                "41c4f594cb9c3f5a"
            ]
        ]
    },
    {
        "id": "beeaa6072585c47c",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "",
        "func": "\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 67,
        "wires": [
            [
                "13a9fa5bf8a32e0c"
            ]
        ]
    },
    {
        "id": "6dbaf7eb9e4b214b",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "getPassphrase",
        "func": "var data = msg.payload\n\nvar command = `wpa_passphrase \"${data.ssid}\" \"${data.password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 60,
        "wires": [
            [
                "13d02ee49331691b"
            ]
        ]
    },
    {
        "id": "13d02ee49331691b",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1490,
        "y": 60,
        "wires": [
            [
                "3fbea7c202b9beb2"
            ],
            [],
            []
        ]
    },
    {
        "id": "3fbea7c202b9beb2",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "updateWpasupplicant",
        "func": "var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 60,
        "wires": [
            [
                "c759fd1bda70a84f"
            ]
        ]
    },
    {
        "id": "c759fd1bda70a84f",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "updateConf",
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "0e7428b7b398d223"
            ],
            [],
            []
        ]
    },
    {
        "id": "0e7428b7b398d223",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "sudo wpa_cli -i wlan0 reconfigure",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reconfigure",
        "x": 1450,
        "y": 167,
        "wires": [
            [
                "92098cca00a841d6"
            ],
            [],
            []
        ]
    },
    {
        "id": "92098cca00a841d6",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "showMessage",
        "func": "\nmsg.payload = msg.payload.trim() === 'OK' ? \"Wifi configuration updated successfully\" : \"Error while updating wifi configuration\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 154,
        "wires": [
            [
                "0171f8edee4b30b2"
            ]
        ]
    },
    {
        "id": "d99cad180e8008cc",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "iwgetid",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "getCurrentSSID",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "b675d031bd3fa1cc"
            ],
            [],
            []
        ]
    },
    {
        "id": "b675d031bd3fa1cc",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "parseInfo",
        "func": "var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 247,
        "wires": [
            [
                "2ed177c6502b9475"
            ]
        ]
    },
    {
        "id": "051aa3e2e289b7de",
        "type": "ui_button",
        "z": "a70220f36865d0c9",
        "name": "",
        "group": "4d0f060d.dee7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 230,
        "y": 181,
        "wires": [
            [
                "edf1335d9b56ddc2"
            ]
        ]
    },
    {
        "id": "effba4653b739c17",
        "type": "ui_dropdown",
        "z": "a70220f36865d0c9",
        "name": "",
        "label": "Wifi",
        "tooltip": "",
        "place": "Select a WIFI",
        "group": "4d0f060d.dee7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 830,
        "y": 67,
        "wires": [
            [
                "beeaa6072585c47c"
            ]
        ]
    },
    {
        "id": "13a9fa5bf8a32e0c",
        "type": "ui_form",
        "z": "a70220f36865d0c9",
        "name": "",
        "label": "",
        "group": "4d0f060d.dee7e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "SSID",
                "value": "ssid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ssid": "",
            "password": ""
        },
        "payload": "",
        "submit": "UPDATE",
        "cancel": "RESET",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 1110,
        "y": 67,
        "wires": [
            [
                "6dbaf7eb9e4b214b"
            ]
        ]
    },
    {
        "id": "8517552a561dbeb7",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "a1e7431b.229d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 141,
        "wires": []
    },
    {
        "id": "a9a54bebbd9f819b",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "a1e7431b.229d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Netmask",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 181,
        "wires": []
    },
    {
        "id": "41c4f594cb9c3f5a",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "a1e7431b.229d5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Broadcast",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 221,
        "wires": []
    },
    {
        "id": "2ed177c6502b9475",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "a1e7431b.229d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "0171f8edee4b30b2",
        "type": "ui_toast",
        "z": "a70220f36865d0c9",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1650,
        "y": 200,
        "wires": []
    },
    {
        "id": "5b9ea8a10d799c63",
        "type": "ui_ui_control",
        "z": "a70220f36865d0c9",
        "name": "onTab",
        "events": "all",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "7dfcc71fed86bbb4",
                "f120b1eb074e6f52"
            ]
        ]
    },
    {
        "id": "0d32b6c4ab87bf08",
        "type": "ui_slider",
        "z": "a70220f36865d0c9",
        "name": "",
        "label": "Set hour",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "bab1affdc1b21556"
            ]
        ]
    },
    {
        "id": "24eecc8f230c41bf",
        "type": "ui_slider",
        "z": "a70220f36865d0c9",
        "name": "",
        "label": "Set minute",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "a09fa0e89f617619"
            ]
        ]
    },
    {
        "id": "24a4974a74717d40",
        "type": "ui_slider",
        "z": "a70220f36865d0c9",
        "name": "",
        "label": "Set seconds",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "a8f152afc0484ce4"
            ]
        ]
    },
    {
        "id": "a686c689a6419a28",
        "type": "ui_button",
        "z": "a70220f36865d0c9",
        "name": "",
        "group": "cfddbc73e4437724",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "White",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "c6cdf7810898d657"
            ]
        ]
    },
    {
        "id": "c2b6c95b38c473f7",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "cfddbc73e4437724",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "bab1affdc1b21556",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "e6e896a555ef8d06"
            ]
        ]
    },
    {
        "id": "a09fa0e89f617619",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "e6e896a555ef8d06"
            ]
        ]
    },
    {
        "id": "a8f152afc0484ce4",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "e6e896a555ef8d06"
            ]
        ]
    },
    {
        "id": "e6e896a555ef8d06",
        "type": "join",
        "z": "a70220f36865d0c9",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "c0dcb222b93f228c"
            ]
        ]
    },
    {
        "id": "13771d2ab323191c",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c6cdf7810898d657",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "c2b6c95b38c473f7",
                "f348d6cd67598b25"
            ]
        ]
    },
    {
        "id": "c0dcb222b93f228c",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "",
        "func": "var hours = msg.payload[0];\nvar minutes = msg.payload[1];\nvar seconds = msg.payload[2];\nmsg.payload = hours + \":\" + minutes + \":\" + seconds\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "13771d2ab323191c"
            ]
        ]
    },
    {
        "id": "f348d6cd67598b25",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "sudo date -s ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "37c0738b8965d398",
        "type": "debug",
        "z": "a70220f36865d0c9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7053156bc2bbdd6d",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "get time",
        "func": "var now = new Date();\nvar msg1 = { payload: now.getHours() };\nvar msg2 = { payload: now.getMinutes() };\nvar msg3 = { payload: now.getSeconds() };\nvar msg4 = { payload: msg1.payload+\":\"+msg2.payload+\":\"+msg3.payload };\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 620,
        "wires": [
            [
                "0d32b6c4ab87bf08"
            ],
            [
                "24eecc8f230c41bf"
            ],
            [
                "24a4974a74717d40"
            ],
            [
                "c2b6c95b38c473f7"
            ]
        ]
    },
    {
        "id": "11e32e497b2bd329",
        "type": "ui_button",
        "z": "a70220f36865d0c9",
        "name": "",
        "group": "4d0f060d.dee7e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "White",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "connectBtn",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "e845b7fe03e24989",
                "89aa1343bdaf40fc",
                "ca901a04c15022cd"
            ]
        ]
    },
    {
        "id": "e845b7fe03e24989",
        "type": "exec",
        "z": "a70220f36865d0c9",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4c37fd436f6cfe48",
        "type": "ui_text",
        "z": "a70220f36865d0c9",
        "group": "164170ab9447d34f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current status",
        "format": "<font color= {{msg.color}} > {{msg.payload}}</font>",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 960,
        "wires": []
    },
    {
        "id": "ffbc49bd9c60949c",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "offline",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "online",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "connectBtn",
                "pt": "global",
                "to": "sudo systemctl start wpa_supplicant@wlan0.service",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "4c37fd436f6cfe48"
            ]
        ]
    },
    {
        "id": "73a5aa8628b14360",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "online",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "online",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "connectBtn",
                "pt": "global",
                "to": "sudo systemctl start wpa_supplicant@ap0.service",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "4c37fd436f6cfe48"
            ]
        ]
    },
    {
        "id": "fd83a620ddec6295",
        "type": "ui_toast",
        "z": "a70220f36865d0c9",
        "position": "top right",
        "displayTime": "20",
        "highlight": "Red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "bc637601f75db692",
        "type": "ui_toast",
        "z": "a70220f36865d0c9",
        "position": "top right",
        "displayTime": "20",
        "highlight": "Red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "ff2eb3bd3086eb27",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Disconnecting and switching to offline mode",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "bc637601f75db692",
                "b6c42628c19e1161"
            ]
        ]
    },
    {
        "id": "8a49b8e5d971645f",
        "type": "inject",
        "z": "a70220f36865d0c9",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "2258d8382e806b7a"
            ]
        ]
    },
    {
        "id": "2258d8382e806b7a",
        "type": "ping",
        "z": "a70220f36865d0c9",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Online test",
        "host": "www.google.com",
        "timer": "20",
        "inputs": 1,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "c0a54f10c67d394f",
                "37c0738b8965d398"
            ]
        ]
    },
    {
        "id": "c0a54f10c67d394f",
        "type": "switch",
        "z": "a70220f36865d0c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "7445b79722360f52",
                "ffbc49bd9c60949c",
                "6ad720e3d2c30864"
            ],
            [
                "4ed20921c3eec7af",
                "73a5aa8628b14360",
                "f5ed2c91ba76c413"
            ]
        ]
    },
    {
        "id": "7445b79722360f52",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 960,
        "wires": [
            [
                "6f458083f7ba373e"
            ]
        ]
    },
    {
        "id": "4ed20921c3eec7af",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "6f458083f7ba373e"
            ]
        ]
    },
    {
        "id": "f120b1eb074e6f52",
        "type": "link out",
        "z": "a70220f36865d0c9",
        "name": "",
        "mode": "link",
        "links": [
            "77218628325ac001"
        ],
        "x": 225,
        "y": 120,
        "wires": []
    },
    {
        "id": "77218628325ac001",
        "type": "link in",
        "z": "a70220f36865d0c9",
        "name": "",
        "links": [
            "f120b1eb074e6f52",
            "832e979c7f42a206",
            "2b775c2520582e7c"
        ],
        "x": 195,
        "y": 920,
        "wires": [
            [
                "2258d8382e806b7a"
            ]
        ]
    },
    {
        "id": "4c051131df8a458b",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Attempting to connect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "fd83a620ddec6295",
                "8e9317a24af215ae"
            ]
        ]
    },
    {
        "id": "8e9317a24af215ae",
        "type": "delay",
        "z": "a70220f36865d0c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "832e979c7f42a206"
            ]
        ]
    },
    {
        "id": "832e979c7f42a206",
        "type": "link out",
        "z": "a70220f36865d0c9",
        "name": "",
        "mode": "link",
        "links": [
            "77218628325ac001"
        ],
        "x": 1005,
        "y": 400,
        "wires": []
    },
    {
        "id": "b6c42628c19e1161",
        "type": "delay",
        "z": "a70220f36865d0c9",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "832e979c7f42a206"
            ]
        ]
    },
    {
        "id": "6f458083f7ba373e",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Wifi_Local_Settings\"],\"show\":[\"Wifi_Current_wifi\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Wifi_Local_Settings\"],\"hide\":[\"Wifi_Current_wifi\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1000,
        "wires": [
            [
                "f93f6d5a31f92f8b"
            ]
        ]
    },
    {
        "id": "f93f6d5a31f92f8b",
        "type": "ui_ui_control",
        "z": "a70220f36865d0c9",
        "name": "",
        "events": "all",
        "x": 1180,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "fbc630deac397b5f",
        "type": "inject",
        "z": "a70220f36865d0c9",
        "name": "Test inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 280,
        "y": 1020,
        "wires": [
            [
                "c0a54f10c67d394f"
            ]
        ]
    },
    {
        "id": "1490d2911cb423ee",
        "type": "ui_template",
        "z": "a70220f36865d0c9",
        "group": "cfddbc73e4437724",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "  <html>\n  <head>\n  <title>Time</title>\n  <script type=\"text/javascript\"> \n  \n  var date = new Date().toString();\n  document.getElementById('ct').innerHTML = date;\n  \n  this.scope.sendDate = function() {\n      console.log(\"in function\")\n   // return {payload: new Date().toString()}; // .valueOf() \n    return {payload: new Date().valueOf()}; // \n  }\n \n</script>\n  \n  </head>\n\n  <body>\n  <div id='ct' style=\"margin-bottom: 40px;\"></div>\n<md-button ng-click=\"send(sendDate())\">\n    Update time from device\n</md-button>\n\n  </body>\n  </html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "edcbc412e77d2ce2"
            ]
        ]
    },
    {
        "id": "5d11cf5ee7da10a2",
        "type": "debug",
        "z": "a70220f36865d0c9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 820,
        "wires": []
    },
    {
        "id": "edcbc412e77d2ce2",
        "type": "function",
        "z": "a70220f36865d0c9",
        "name": "",
        "func": "var online = global.get(\"online\");\nif (!online){\n    return msg;   \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 780,
        "wires": [
            [
                "5d11cf5ee7da10a2",
                "f348d6cd67598b25"
            ]
        ]
    },
    {
        "id": "89aa1343bdaf40fc",
        "type": "switch",
        "z": "a70220f36865d0c9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sudo systemctl start wpa_supplicant@wlan0.service",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "4c051131df8a458b"
            ],
            [
                "ff2eb3bd3086eb27"
            ]
        ]
    },
    {
        "id": "6ad720e3d2c30864",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Switch to online mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 880,
        "wires": [
            [
                "69a1e1277c77ff28"
            ]
        ]
    },
    {
        "id": "f5ed2c91ba76c413",
        "type": "change",
        "z": "a70220f36865d0c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Switch to offline mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "69a1e1277c77ff28"
            ]
        ]
    },
    {
        "id": "69a1e1277c77ff28",
        "type": "link out",
        "z": "a70220f36865d0c9",
        "name": "buttonOut",
        "mode": "link",
        "links": [
            "6b7581d47732eef7"
        ],
        "x": 875,
        "y": 880,
        "wires": []
    },
    {
        "id": "6b7581d47732eef7",
        "type": "link in",
        "z": "a70220f36865d0c9",
        "name": "buttonIn",
        "links": [
            "69a1e1277c77ff28"
        ],
        "x": 165,
        "y": 400,
        "wires": [
            [
                "11e32e497b2bd329"
            ]
        ]
    },
    {
        "id": "bd1a04afc96cf5fd",
        "type": "inject",
        "z": "a70220f36865d0c9",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ca901a04c15022cd",
        "type": "debug",
        "z": "a70220f36865d0c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "ca105ab5370d125e",
        "type": "amazon-echo-hub",
        "z": "a5946ab9f5ba7434",
        "port": "8980",
        "processinput": 0,
        "discovery": true,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "c88f28fa735faf15"
            ]
        ]
    },
    {
        "id": "c88f28fa735faf15",
        "type": "amazon-echo-device",
        "z": "a5946ab9f5ba7434",
        "name": "halligalli",
        "topic": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "08f533119f557d1d",
                "97773266f254c209"
            ]
        ]
    },
    {
        "id": "08f533119f557d1d",
        "type": "debug",
        "z": "a5946ab9f5ba7434",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "97773266f254c209",
        "type": "function",
        "z": "a5946ab9f5ba7434",
        "name": "",
        "func": "var brightness = msg.percentage;\nif (msg.on){\n    global.set(\"led.state\",true);\n} else {\n    global.set(\"led.state\",false);\n    brightness = 0;\n}\nglobal.set(\"led.brightness\",brightness);\nvar colormode = msg.colormode;\nif (colormode === \"hs\"){\n    var red = msg.rgb[0];\n    global.set(\"led.color.red\",red);\n    var green = msg.rgb[1];\n    global.set(\"led.color.green\",green);\n    var blue = msg.rgb[2];\n    global.set(\"led.color.blue\",blue);\n} else {\n    global.set(\"led.color.red\",254);\n    global.set(\"led.color.blue\",254);\n    global.set(\"led.color.green\",254);\n}\nmsg.payload = msg.on;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    }
]